.row
  .span16
    .user_sidebar.shadow
      =image_tag @user.avatar.url(:large)

    .user_mainbar.shadow
      %h1=@user.name
      .share_button
        =render 'shared/share_artist' if I18n.locale == :ch
      %p
        ="#{@user.profile.full_location}"
        =" / #{@user.visit_counter} visits" if current_user && current_user == @user
      %b
        =t('profile.introduction')
        =link_to 'edit', ind_user_edit_path(@user, 'profile') if @user == current_user
      .introduction
        -if @user.profile.intro_ch.present?
          %p=@user.profile.intro_ch
        -else
          %p=@user.profile.intro

-if current_user == @user && @user.artworks.empty?
  .row
    .span16.shadow
      .row
        .span15.offset1
          You don't have any artwork presented yet,
          =link_to "Start upload some artwork. It is easy and quick.", new_artwork_path

-content_for :widescreen do
  #image_blocks
    =render @artworks
