.row
  .span16.shadow
    .row
      .span14.offset1
        %h2.center Manage Artworks
        %ul
          #image_blocks.small
            -@user.artworks.each do |a|
              =link_to edit_artwork_path(a.slug) do
                .image_block.small
                  =image_tag a.photos.first.photo(:thumb)
                  .price="Original: #{a.original_available? ? number_to_currency(a.original_price, precision: 0) : 'edit'}"
                  .price="Copy: #{a.copy_available? ? number_to_currency(a.copy_price, precision: 0) : 'edit'}"
