.row
  .span16.shadow
    %h2="Ready-for-Sale Artwork (#{@ready_artworks.count})"
    %p
      For an artwork to be ready for sale, it needs to have all the fields filled. You also need to mark it as "for sale".
    %p
      You are advised to have
      %b 4-8 pieces of work
      for sale at a time so that you can have a flow of new artwork to be displayed on the site.
    .row
      .span16
        -@ready_artworks.each do |artwork|
          =render "artworks/artwork_form", artwork: artwork

    %h2="Not-Ready-for-Sale Artwork (#{@unready_artworks.count})"
    .row
      .span16
        -@unready_artworks.each do |artwork|
          =render "artworks/artwork_form", artwork: artwork

    %h2="Sold Artwork (#{@sold_artworks.count})"
    .row
      .span16
        -@sold_artworks.each do |artwork|
          =render "artworks/artwork_sold", artwork: artwork
