-unless current_user
  .row
    .span16
      .slogan.shadow
        %h2=t("slogan")
        =link_to t('learn_more'), new_user_session_path
        -if I18n.locale == :en
          =link_to "/buyer_entrance" do
            .btn 买家入口
        -else
          =link_to "/artists_entrance" do
            .btn Artist Entrance
        =link_to new_user_session_path do
          .btn.primary=t("sign_up")
.row
  .span16#image_blocks
    -@artworks.each do |a|
      =link_to a do
        .image_block
          =image_tag(a.photos.first.photo.url(:medium))
          .title=a.title == "" ? "Untitled" : a.title
          .artist
            =image_tag a.ind_user.avatar.url(:small)
            .name
              %b=link_to a.ind_user.name, a.ind_user
              .image_footer="#{t("submitted")} #{time_ago_in_words a.created_at} #{t("ago")}"
