-unless current_user
  .row
    .span16
      .slogan.shadow
        %h2=t("slogan")
        =link_to t('learn_more'), new_user_session_path
        =link_to new_user_session_path do
          .btn.primary=t("sign_up")

-content_for :widescreen do
  #image_blocks
    -@artworks.each do |a|
      =link_to a do
        .image_block
          =image_tag(a.photos.first.photo.url(:medium))
          .title
            =a.title == "" ? "Untitled" : a.title
          .artist
            =image_tag a.ind_user.avatar.url(:small)
            .name
              %b=link_to a.ind_user.name, a.ind_user
              .image_footer
                ="#{time_ago_in_words a.created_at} #{t("ago")}"
                .likes
                  %span{class: "counter #{a.id}"}=a.likes_counter
                  likes
                .tiny_button=bookmark_code(a) if current_user
                =link_to "Edit Artwork", edit_artwork_path(a, anchor: "edit_artwork_#{a.id}"),class: "edit_artwork" if admin?
            -# .price= a.price_in_yuan if I18n.locale == :ch || current_user.try(:admin?)

  .pagination
    %li.next_page
      =link_to "next", "/artworks/page/2"
