-unless current_user
  .row
    .span16
      .slogan.shadow
        %h2=t("slogan")
        =link_to t('learn_more'), new_user_session_path
        =link_to new_user_session_path do
          .btn.primary=t("sign_up")

-content_for :widescreen do
  #image_blocks
    =render @artworks
  .pagination
    %li.next_page
      =link_to "next", "/artworks/page/2"
