%tr
  %td= order.number
  %td= order.sellable.number
  %td
    =link_to image_tag(order.sellable.artwork.photos.first.photo.url(:thumb),width:25), order.sellable.artwork
    =order.sellable.artwork.title
    =order.sellable.is_original? ? "真品" : '授权限量版'
  %td=number_to_currency (order.payment || order.sellable.sale_price), unit: "¥", precision: 0
  %td=l order.created_at, format: :short
  %td=t(order.status.to_s)
  %td
    =link_to "取消", cancel_order_path(order.id) if order.status != :cancelled

