.row
  .span16.shadow
    .row
      .offset1.span8
        %h2 Mission Statement

        %p Canvvas serves as the bridge between American artists and emerging Chinese art market and foster mutual understanding between them.

        %h2 About the Founder

        %p Ben Zhang, the founder of Canvvas.com is a Brown University graduate, class of 2010. He grew up in China and spent the last six years in the United States to further his education and career. He has a passion for building online communities and bridging the cultural gaps between the US and China. You can reach Ben at ben@canvvas.com

        %h2 Our Operation

        %p We have presence in Boston and different cities in China currently and work with a wide range of service providers to ensure secure delivery of artwork across the ocean.
