.row
  .span16.shadow
    .row
      .offset1.span8
        %h2 Mission Statement

        %p Canvvas serves as the bridge between American artists and emerging Chinese art market and foster mutual understanding between them.

        %h2 About the Team

        %p Ben Zhang is a Brown University alum. He grew up in China and arrived in the United States many years ago for great learning and personal growth. He has built relationships with galleries in China and has a good understanind of how American artists can leverage the Internet to promote their artwork in China.

        %h2 Our Operation

        %p We have presence in Boston and different cities in China currently and work with a wide range of service providers to ensure secure delivery of artwork across the ocean.
