.row.content
  -if I18n.default_locale == :en
    .span16.normal
      %h1 Contact us
      .row
        .span11
          %p
            %b E-mail:
            =mail_to "americanarthouse@gmail.com"
  -else
    .span16.normal
      %h1 联系我们
      .row
        .span11
          %p
            %b E-mail:
            =mail_to "americanarthouse@gmail.com"



