.row
  .span16.shadow
    .row
      .span8.offset1
        -if I18n.locale == :ch
          %h2{style: "color: purple"} 联系我们
          %p 如果您对我们网站上任何画家,画作, 价格, 运输有任何的疑问, 欢迎您向我们提出。我们的电子邮件是
          %h2{style: "color: #777"} support@canvvas.com
        -else
          %h2{style: "color: purple"} Contact us
          %p If you have any questions about how to use the website, price your artwork or if you have any concerns about working with us, feel free to email us.
          %h2{style: "color: #777"} support@canvvas.com
