.row
  .span16.shadow
    .row
      .offset1.span7
        %h2 An artistic error has occured!

        %p While we are fixing it, feel free to check out the other stuff on the website. Thanks for your patience!
