.row
  .span16.shadow
    %h2 Manage Artworks
    =paginate @sellables
    %table.table.zebra-striped.order
      %tr
        %td{width: 40} ID
        %td{width: 40} Title
        %td{width: 30}
        %td{width: 40} Artist Price
        %td{width: 40} Sale Price
        %td{width: 40} Artist Name
        %td{width: 40} Created on
      -@sellables.each do |s|
        %tr
          %td=s.number
          %td=link_to s.artwork.title, s.artwork
          %td=link_to "edit", edit_artwork_path(s.artwork)
          %td=best_in_place s, :price, path: admin_artwork_path(s), :display_with => :number_to_currency, :helper_options => {precision: 0}
          %td=best_in_place s, :sale_price, path: admin_artwork_path(s),:display_with => :number_to_currency, :helper_options => {:unit => "¥", precision: 0}
          %td=link_to s.artwork.ind_user.name, s.artwork.ind_user
          %td=l s.created_at.to_date, format: :short
    =paginate @sellables
