.row
  .span16.shadow
    .row
      .span15.offset1
        %h2 您的订单
        -if @user.orders.empty?
          =link_to "感谢您的加入。现在就去看看我们的作品吧", artworks_path
        -else
          %table.table.zebra-striped
            %tr
              %td 作品
              %td
              %td 时间
              %td 状态
              %td 取消
            -@user.orders.each do |order|
              =render order

