%p
  Hi there
%p
  Thank you for joining Canvvas.com. You can click the link below to confirm your registration. If you have any questions, please don't hesitate to contact us at support@canvvas.com.
%p
  =confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)


Ben Zhang
CEO
Canvvas.com
