%div{style: "width:600px"}
  %p
    Hi there,
  %p
    =@resource.invited_by.name
    invites you to join Canvvas.com.
  -unless (message = @resource.invited_by.invitation_message).nil?
    %p{style: "background-color: #C7EEFE; padding: 10px; width: 600px;"}=word_wrap(message).gsub(/\n/, '<br/>').html_safe
  %p Canvvas.com is a web platform that bridges artists in the United States with growing art market in China. You post your artwork for sale. When an order comes through, you get paid immediately and we ship the artwork for you. Easy as that.

  %p If you have any questions about our service or how to use the website, please don't hesitate to contact us at support@canvvas.com.


Ben Zhang
CEO
Canvvas.com
