%p
  Hi, #{@resource.email}!
%p We received a request to reset your password on canvvas.com. You can click the link below to reset your password.
%p= link_to 'Reset password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p If you do not wish to reset your password, you can ignore this email. Nothing will be changed.


Ben Zhang
%br
CEO
%br
Canvvas.com
